/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

.card {
    justify-content: space-between;
}

.card .text {
    min-height: 150px;
}

.card .title {

}

.card .details {
    min-height: 150px;
}

p {
    margin: 0;
}

.img-box {
    width: 100%;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
